*{
  font-family: 'Courier New', Courier, monospace;
}
header{
  background-color: #4b48486e;
  text-align: center;
  padding: 9px;
}

h1{
  margin: 0px;
  font-size: 55px;
  color: #ffffff;
}

#aviso{
  font-size: 15px;
  color: #ffffff;
}

#titulo-boton{
  text-align: center;
}

#iniciar-juego{
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  margin-top: 90px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

#iniciar-juego:active{
  background-color: #ff5400f0;
  border-color: black;
}

#nueva-palabra {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

#iniciar-juego, #nueva-palabra{
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #747474;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 36%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

#container-inputs{
  position: relative;
  float: left;
  text-align: center;
  width: 25%;
  height: 590px;
}

#input-boton{
  text-align: center;
  margin-top: 160px;
}

#container-letras{
  position: relative;
  float: left;
  width: 40%;
  height: 590px;
  text-align: center;
}

#deletrea-pal-sorteada{
  margin-top: 150px;
}

#ingresa-letra{
  position: absolute;
  margin-left: 270px;
  z-index: -1px;
}

canvas{
  position: relative;
  float: left;
  background-color: #b3c6f5;
}

footer{
  width: 100%;
  height: 100px;
  display: inline-block;
  background-color: #014ba0;
  text-align: center;
  color: #ffffff;
}

li{
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: #787878;
}

a:hover{
  color:rgb(252, 252, 252);
}

#letras-seleccionadas{
  position: relative;
  float: inline-end;
}

.letra-secreta-visible{
  border-bottom: 3px solid blue;
  margin-left: 2px;
  margin-right: 2px;
  padding: 3px;
  font-size: 50px;
  color: #3c3c3c;
}

.letra-secreta-invisible{
  border-bottom: 3px solid blue;
  margin-left: 2px;
  margin-right: 2px;
  padding: 3px;
  font-size: 50px;
  color: white;
}

.letras-pal-sorteada{
  position: relative;
  float:left;
}

.span-invisible{
  color: white;
  font-size: 50px;
}

.palabra-secreta, #palabra-sorteada{
  font-size: 0px;
  color: white;
}

#letras-incorrectas{
  margin-top: 50px;
}

.letra-incorrecta{
  color: #ff5400f0;
  font-size: 30px;
}

.mensaje-ganaste{
  position: relative;
  margin: 0px auto;
  color: green;
  font-size: 100px;
}

.mensaje-perdiste{
  position: relative;
  margin: 0px auto;
  color: red;
  font-size: 100px;
}

#juegoTermino{
  color: white;
  font-size: 0px;
}