#titulo-boton{
  text-align: center;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 36%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

#container-inputs{
  position: relative;
  float: left;
  text-align: center;
  width: 25%;
  height: 590px;
  border: 1px solid black;
}

#input-boton{
  text-align: center;
}

#container-letras{
  position: relative;
  float: left;
  width: 39%;
  height: 590px;
  border: 1px solid black;
  text-align: center;
}

#deletrea-pal-sorteada{
  margin-top: 150px;
}

#ingresa-letra{
  position: absolute;
  margin-left: 270px;
  z-index: -1px;
}

canvas{
  position: relative;
  float: left;
  background-color: #81F7F3;
}

footer{
  width: 100%;
  height: 100px;
  display: inline-block;
  border: 1px solid black;
}

li{
  display: inline;
}

#letras-seleccionadas{
  position: relative;
  float: inline-end;
}

.letra-secreta-visible{
  border-bottom: 3px solid blue;
  margin-left: 1px;
  margin-right: 1px;
  font-size: 50px;
  color: blue;
}

.letra-secreta-invisible{
  border-bottom: 3px solid blue;
  margin-left: 1px;
  margin-right: 1px;
  font-size: 50px;
  color: green; /* ESTE COLOR LO TENGO QUE CAMBIAR A BLANCO */
}

.letras-pal-sorteada{
  position: relative;
  float:left;
}

.span-invisible{
  color: white;
  font-size: 50px;
}

.palabra-secreta, #palabra-sorteada{
  font-size: 0px;
  color: white;
}

.letra-incorrecta{
  color: red;
  font-size: 30px;
}

.mensaje-ganaste{
  position: relative;
  margin: 0px auto;
  color: green;
  font-size: 100px;
}

.mensaje-perdiste{
  position: relative;
  margin: 0px auto;
  color: red;
  font-size: 100px;
}